img {
    width: 200px;

}
img:nth-of-type(1){
    position: relative;
    margin: 50px 0 0 100px;
}
img:nth-of-type(2), img:nth-of-type(3) {
    position: absolute;
}
img:nth-of-type(2){
    top: 15px;
    right: 10px;
}
img:nth-of-type(3){
    left: 0;
    bottom: 0px;
}
a {
    position: fixed;
    bottom: 0;
    right: 20px;
    font-size: 100px;
}