div:nth-child(1), div:nth-child(4), div:nth-child(8) {
    background-color: teal;
    width: 200px;
    height: 200px;
}
div:nth-child(2), div:nth-child(5), div:nth-child(9){
    background-color: darkorange;
    width: 200px;
    height: 200px;
}
div:nth-child(3), div:nth-child(6), div:nth-child(10){
    background-color: rebeccapurple;
    width: 200px;
    height: 200px;
}
div:nth-child(4), div:nth-child(5), div:nth-child(6) {
    position: relative;
    
}
div:nth-child(4) {
    left: 0;
    margin-top: 30px;
}
div:nth-child(5) {
    left: 50px;
    top: -100px;
}

div:nth-child(6) {
    left: 100px;
    top: -200px;
}
.blab{
    position: relative;
    height: 500px;
    background-color: none;

}
.blab div:nth-child(1), .blab div:nth-child(2), .blab div:nth-child(3) {
    position: relative;
}

.blab div:nth-child(1) {
    right: -1200px;
    margin-top: 10px;
    
}
.blab div:nth-child(2) {
    
    right: -1100px;
    top: -130px;
    z-index: -1;
}

.blab div:nth-child(3) {
    top: -260px;
    right: -1000px;
    z-index: -2;
}

