body{
    background-color: #0212fe;
    background-image: url('bg.jpg');
    background-position: bottom left;
    background-repeat: repeat-x;
    height: 100vh;
}
img {
    position: absolute;
    left: calc(50% - 100px);
    height: 100px;
    bottom: 80px;
} 