

//mixin
@import '_mixin';
@import '_var';

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    @include text-shadow(10px 10px 10px rgba(334,334,334, 0.5));
}

.container {
    width: 960px;
    margin: 0 auto;
}

h1 {
    padding: 20px 0;
    text-align: center;
    background: #2962ff;
    color:$bgw;
}

h2 {
    margin-bottom: 0px;
    padding-left: 10px;
    text-align: left;
    background: #2979ff;

}

img {
    height: 400px;
    margin: 40px auto 40px;
    display: block;
    @include box-shadow(10px 10px 10px rgba(334,334,334, 0.5));
}

table {
    width: 100%;
    color: #333;
    background: $bgw;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eee;
}

td {
    padding: 5px 0;
}

td:first-child {
    width: 300px;
    padding-left: 10px;
}

p#footer {
    margin-top: 100px;
}